<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->

<% transactions = Transaction.all%>

<table>
  <tr>
    <th>Sender</th>
    <th>Recipient</th>
    <th>Amount</th>
  </tr>
<% for transaction in transactions
    user_toname = User.find_by({"id" => transaction["to_user_id"]})
    user_fromname = User.find_by({"id" => transaction["from_user_id"]})
    if transaction["from_user_id"] == nil %>
    Initial Coin Offering: <%=transaction["amount"]%> to <%=user_toname["name"]%>
    <%else%>
  <tr>
     <td><%=user_fromname["name"]%></td>
     <td><%=user_toname["name"]%></td>
     <td><%=transaction["amount"]%></td>
  </tr>
    <%end%>
    <%end%>
</table>

<!-- Step 2: Calculate and display the balances -->

    <a href="/dashboard">Go to dashboard</a>

